.App {
  text-align: center;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: local('Computer Modern Serif'), url('./static/cmunrm.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('./static/cmunbx.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
